# Render Requirements File
# Add all Python modules/libraries needed for website

# Basic dependencies
pandas
numpy
requests
pathlib

# SQL
sqlalchemy
flask
jsonify
warnings

# Visualizations

# Render
gunicorn
