<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hate Crimes in the US</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <ul class="nav nav-tabs" id="myTabs">
      <li class="nav-item">
        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1">Tab 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2">Tab 2</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <!-- Content for Tab 1 goes here -->
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Hate Crimes in the United States</h1>
            <p>Use the interactive charts below to explore the dataset</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="well">
              <h5>Select Bias</h5>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Statistics</h3>
              </div>
              <div id="statistics" class="panel-body"></div>
            </div>
          </div>
          <div class="col-md-5">
            <div id="chart1"></div> <!-- Chart 1: Rename div ID -->
          </div>
            
        </div>
      </div>
    </div>    
    
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      <!-- Content for Tab 2 goes here -->
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Hate Crimes in the United States</h1>
          <p>The US at a Glance</p>          
        </div>
        <div class="col-md-5">
          <div id="chart2"></div> <!-- Chart 1: Rename div ID -->
        </div>        
    </div>
  </div>
  
  
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
